.body {
  margin: 15%;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}
.header {
  display: flex;
}

.menu {
  display: flex;
}

.menu a {
  margin: 1em;
}

.profile-image img{
  border-radius: 50%;
  width: 15em;
}

.project-container {
  border: 1px solid grey;
  height: 5em;
  width: 3em;
}

