.body {
  font-family: 'Raleway', sans-serif;
  color:#333333;
}

.menu a:link { 
  color: #333333; 
}

.menu a​:active { 
  color: #333333; 
}

.menu a:visited {
  color: #333333;
}

.menu a:hover { 
  color: #2d5986; 
}

.header {
  display: flex;
  margin: 1.5em;
  justify-content: space-between;
  border-bottom: solid #333333 1px;
}

.header p {
  font-size: 20px;
}

.menu a {
  margin: 1em;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 15px;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.profile-image img {
  border-radius: 50%;
  width: 18em;
  margin: 2em;
}

.about-section {
  color: #333333;
  margin-left: 15%; 
  margin-right: 15%;
   
}

.tech-list {
  display: flex;
}

.tech-list ul {
  margin-right: 5em;
}

.resume-button button {
  border-radius: 5px;
  border: solid #333333 1px;
  background-color: #333333;
  height: 2.5em;
  width: 10em;
  margin-top: 2em;
}

.resume-button a {
  color: white;
}

.resume-button a:hover {
  color: #2d5986;
}

.placeholder-section {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.ind-project img{
  border-radius: 50%;
  width: 15em;
  margin: 2em;
  height: 14em;
  align-self:center;
  border: solid black 1px;
}

.work-section {
  margin-left: 15%;
  margin-right: 15%;
}

.work-section h1 {
  color: #333333;
}

.ind-project {
  border: 1px solid grey;
  height: 30em;
  width: 25em;
  margin: 2em;
  padding:1em;
  display:flex;
  flex-direction: column;
  align-content: center;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} 

.contact-section {
  margin-left: 15%;
  margin-right: 15%;
}

.icon {
  width: 2em;
  margin: 1em;
}

.contact-icons {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.copyright {
  text-align: right;
  margin-right: 2em;
}